/* 
040D12
183D3D
5C8374
93B1A6 
*/

body {
    font-family: Arial, sans-serif;
}

.logo{
    color: white;
    font-weight: bold;
}
.topimg{
    background-image: url(bg1.jpg);
}

.navbar {
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out;
    border-radius: 0 0 10px 10px;
}
.test{
    position: fixed;
    width: 100%;
    z-index: 1;
    padding: 0px 30%;
    border-radius: 10%; 
}

.navbar-black-bg {
    background-color: black;
}


.menu{
    color: white;
}
.menu:hover{
    color: #93B1A6 ;
    text-decoration: underline;
}
a:hover{
    transform: scale(1.1);
    font-weight: bolder;
}

button{
    border: none;
    color: #5C8374;
    border-radius: 20px;
}
.hero-section {
    /* background-color: #93B1A6; */
    color: white;
    padding: 100px 0;
    /* text-align: center; */
}

button {
    border: none;
    color: white; 
    background-color: #ffffff; 
    border-radius: 10px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

button:hover {
    border: 2px solid white;
    background-color: transparent;
    transform: scale(1.05); 
}

button a{
    color: black;
    font-weight: bold;
}
button a:hover{
    color: white;
    font-weight: bold;
} */

.about-section {
    background-color: white ;
    padding: 100px 0;
}

.skills-section {
    background-color: white;
    padding: 40px 0;
}

.skill {
    border: 1px solid #ccc;
    padding: 20px;
    margin:  0px 20px;
}

.project-section {
    background-color: #F4F4F4;
    padding: 40px 0;
}

.internships-section {
    background-color: white;
    padding: 40px 0;
}

.footer-section {
    background-color: #040D12;
    color: white;
    text-align: center;
    padding: 20px 0;
}

@media (max-width: 768px) {
    .hero-section {
        padding: 50px 0;
    }

    .about-section,
    .skills-section,
    .project-section,
    .internships-section {
        padding: 50px 0;
    }
}

.imaga{
    height: 300px;
    object-fit: cover;
}
.card-body{
    height: 250px;
}
h2{
    text-align: center;
    font-size: 2.5rem;
    color: #040D12;
    padding: 20px 0;
    border-bottom: 1px solid #93B1A6;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: cursive;
}
@media (max-width: 768px) {
    h2 {
        font-size: 2rem;
    }
}